{% extends 'base.html.twig' %}

{% block title %}gestion des courses{% endblock %}

{% block body %}


<div class="text-center">
    <h3>My Symfony 4 sample project</h3>

    <div class="jumbotron text-center">
    <div id='table-maj'>
      {# L'appli Vue.js vivra ici #}
      </div>
    </div>
</div>

{% endblock %}


